#seccion-2 {
    border: 1px solid black;
}

#pagina-individual {
    padding: 20px;
}

#imagen-individual {
    background-color: white;
    border:1px solid black;
    height: 96px;
    width: 96px;
    overflow: hidden;
    border-radius: 10%;
}

#informacion-personal {
    float: left;
    width: 60%;
}

#cuadro-imagen-individual {
    float:left;
    width: 40%;
}