body {
    background-color: black;
    height: 100vh;
}

.oculto {
    display: none;
}

#pokedex {
    background-color: rgb(219, 213, 213);
    color:black;
    border: 1px solid white;
    width: 1000px;
    height: auto;
    margin: 0 auto;
    padding: 15px;
}
