body {
    background-color: black;
    height: 100vh;
}

#listado-pokemon {
    width: auto;
    display: inline;
}

#pokedex {
    background-color: rgb(219, 213, 213);
    color:black;
    border: 1px solid white;
    width: 1000px;
    height: auto;
    margin: 0 auto;
    padding: 15px;
}
.pokemon-general{
    height: auto;
    width: auto;
    text-align: center;
    padding: 15px;
}

.nombre-general {
    color: black;
}

.imagen-general {
    background-color: white;
    border:1px solid black;
    height: 70px;
    width: 70px;
    overflow: hidden;
    border-radius: 10%;
}


#seccion-2 {
    border: 1px solid black;
}

#imagen-individual {
    background-color: white;
    border:1px solid black;
    height: 96px;
    width: 96px;
    overflow: hidden;
    border-radius: 10%;
}
